In [1]:
#hey there

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import warnings
warnings.filterwarnings("ignore")

In [3]:
%matplotlib inline

In [4]:
lang_detection = pd.read_csv("Language Detection.csv")

In [5]:
lang_detection.head()

                                                Text Language
0   Nature, in the broadest sense, is the natural...  English
1  "Nature" can refer to the phenomena of the phy...  English
2  The study of nature is a large, if not the onl...  English
3  Although humans are part of nature, human acti...  English
4  [1] The word nature is borrowed from the Old F...  English

In [6]:
lang_detection.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10337 entries, 0 to 10336
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Text      10337 non-null  object
 1   Language  10337 non-null  object
dtypes: object(2)
memory usage: 161.6+ KB

In [7]:
lang_detection.isnull().sum()

Text        0
Language    0
dtype: int64

In [8]:
lang_detection["Language"].value_counts()

Language
English       1385
French        1014
Spanish        819
Portugeese     739
Italian        698
Russian        692
Sweedish       676
Malayalam      594
Dutch          546
Arabic         536
Turkish        474
German         470
Tamil          469
Danish         428
Kannada        369
Greek          365
Hindi           63
Name: count, dtype: int64

In [9]:
lang_detection.duplicated().sum()

66

In [10]:
lang_detection.drop_duplicates(inplace = True )

In [11]:
lang_detection.drop(lang_detection[lang_detection['Language'].isin(['Malayalam','Kannada','Tamil','Arabic'])].index,inplace=True)

In [12]:
lang_detection.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8318 entries, 0 to 9967
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Text      8318 non-null   object
 1   Language  8318 non-null   object
dtypes: object(2)
memory usage: 195.0+ KB

In [13]:
#now lets build a text processing pipeline

In [14]:
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer,PorterStemmer
from nltk import pos_tag
from nltk import ne_chunk
from string import punctuation

In [15]:
#defining a text preprocssing function

In [16]:
available_languages = stopwords.fileids()
all_stopwords = set()
for language in available_languages:
    all_stopwords.update(stopwords.words(language))

In [17]:
def text_preproccess(text):
    punct = list(punctuation)
    token_remove = all_stopwords.union(set(punct))
    sent_text = sent_tokenize(text)
    clean_tokens = []
    lemma = WordNetLemmatizer()
    for sentence in sent_text:
       word_tokens = word_tokenize(sentence)
       pos = pos_tag(word_tokens)
       name_entity = ne_chunk(pos)
       tokens = [token for token in word_tokens if token.isalpha()]
       clean_tokens.extend([lemma.lemmatize(word.lower()) for word in tokens if word not in token_remove])
    return " ".join([token for token in clean_tokens])

In [18]:
lang_detection.head()

                                                Text Language
0   Nature, in the broadest sense, is the natural...  English
1  "Nature" can refer to the phenomena of the phy...  English
2  The study of nature is a large, if not the onl...  English
3  Although humans are part of nature, human acti...  English
4  [1] The word nature is borrowed from the Old F...  English

In [19]:
lang_detection["Text"].head(5).apply(text_preproccess)

0    nature broadest natural physical material worl...
1    nature refer phenomenon physical world life ge...
2                  the study nature large part science
3    although human part nature human activity unde...
4    the word nature borrowed old french nature der...
Name: Text, dtype: object

In [20]:
lang_detection["Text"] = lang_detection["Text"].apply(text_preproccess)

In [21]:
lang_detection.head()

                                                Text Language
0  nature broadest natural physical material worl...  English
1  nature refer phenomenon physical world life ge...  English
2                the study nature large part science  English
3  although human part nature human activity unde...  English
4  the word nature borrowed old french nature der...  English

In [22]:
lang_detection.to_csv('cleaned_language_detection.csv',index=False)